doctype html
html 
  head
    title Image Search Results
    script(type="application/javascript", src = "/app/client/js/imageSearchResults.js")
    script(type="application/javascript", src=scr, defer)
          
  body
    div#content 
    