doctype html 
html  
  head
    title FreeCodeCamp API Projects | Nishant Tomer
    link(href= "css/index.css", rel = "stylesheet")
  body
      h3.msg= msg
      h1.main All of FreeCodeCamp API Basejumps
      
      
      h3 Click on any of the API Service names to Use that service.
      div.stories 
        p 
          a(href = "https://nishant-fcc-api-projects.herokuapp.com/metadata", target="_blank")
            button File Metadata Microservice 
        p 
          a(href = "https://nishant-fcc-api-projects.herokuapp.com/mydata", target="_blank")
            button Request Header Parser Microservice
        p 
          a(href = "https://nishant-fcc-api-projects.herokuapp.com/imagesearch", target="_blank")
            button Internet Image Search Abstraction Layer Microservice 
        p 
          a(href = "https://nishant-fcc-api-projects.herokuapp.com/microstamp", target="_blank")
            button Timestamp Microservice 
        p 
          a(href = "https://nishant-fcc-api-projects.herokuapp.com/urlshortener", target="_blank")
            button URL Shortener Microservice
    
        
 