doctype html 
html  
  head
    title FreeCodeCamp API Projects | Nishant Tomer
    link(href= "css/index.css", rel = "stylesheet")
  body
      h3.msg= msg
      h1.main All of FreeCodeCamp API Basejumps
      
      
      h3 How to Use:
      div.stories 
        p 1) You can search for images on internet and go thorugh your recent searches. 
        p 2) You will get the image URLs, small bit of information about that image and page urls for a set of images relating to a given search string.
        p 3) You can paginate through the responses by adding a ?offset=2 parameter to the URL.
        p Be Careful about putting /search/ after base-url before adding your search string.
        p Be Careful about putting /recent after base-url for retrieving recent searches.
      
 